/* 
primary color: #f8fbfe

section background: #1C1A38

accent: electric blue: #002eff || #3069FC
        electric purple: #bf00ff || #5C23BD

text color: #121518
*/

body {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #f8fbfe;
    color: #121518;
}


/* ##### header styling ##### */
header {
    padding-bottom: 4rem;
}

.logo {
    width: 10rem;
    height: auto;
}


.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    padding: 1.5rem 2rem;
    background-color: #1C1A38;
}

.navbar-toggler {
    background-color: #f8fbfe;
}

.navbar-toggler:focus {
    box-shadow: #bf00ff 0px 0px 0px 0.25rem;
}

.nav-link,
.quickLinksTopDiv a {
    color: #f8fbfe;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav-link:hover,
.quickLinksTopDiv a:hover {
    color: #bf00ff;
    font-size: 1.1rem;
}

.navButtons {
    gap: 1rem;
}

.getTicketsLink {
    background-color: #3069FC;
    color: white;
    border-radius: 0.5rem;
    max-width: max-content;
    padding: 0.5rem 2rem;
}

.signUpLink {
    border: 2px solid #bf00ff;
    border-radius: 0.5rem;
    max-width: max-content;
    padding: 0.5rem 2rem;
}

.getTicketsLink:hover,
.signUpLink:hover {
    font-weight: bold;
    color: white;
}


/* ##### footer styling ##### */
footer {
    background-image: url("../assets/images/footerBackground.webp");
    color: #f8fbfe;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 1rem 2rem;
}

.footerLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogoDiv>.logo {
    width: 25rem;
    height: auto;
}

.quickLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.quickLinksTopDiv,
.quickLinksBottomDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.quickLinksTopDiv ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.quickLinksTopDiv a {
    text-decoration: none;
}

.quickLinksTopDiv li {
    list-style: none;
}

.quickLinksTopDiv>.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footerIcon {
    width: 2rem;
    height: auto;
}

.footerIcon:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    width: 2.2rem;
    height: auto;
}

.quickLinksBottomDiv p {
    font-size: 0.8rem;
    font-style: oblique;
}

.anaid {
    text-decoration: none;
    font-weight: 900;
    color: #b7d5f4;
    letter-spacing: 2px;
}

.anaid:hover {
    color: #bf00ff;
    font-size: 1rem;
}