/* 
primary color: #f8fbfe

section background: #1C1A38

accent: electric blue: #002eff || #3069FC
        electric purple: #bf00ff || #5C23BD

text color: #121518
*/

main {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


/* ##### top div styling */
.display-6 {
    font-weight: 900;
    letter-spacing: 2px;
}

.dropdown-item:hover {
    background-color: #5C636A;
    color: #f8fbfe;
}


/* ##### middle div styling */
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}


/* ##### bottom div styling */
.bottomDiv>.card {
    width: 15rem;
    border-radius: 1rem;
    background-color: #1C1A38;
    border: none;
}

.img-thumbnail {
    width: 15rem;
    height: 15rem;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card:hover {
    transform: translateY(-1rem);
    transition: transform 0.3s ease-in-out;
}

.card-img-top {
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.socialIcon {
    width: 1.5rem;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: #f8fbfe;
    letter-spacing: 2px;
}

.card-body h6 {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.card-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.bottomDiv {
    /* grid with 4 rows and 4 columns */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    min-width: min-content;
    padding: 0 2rem;
}


/* ################## Responsive Design ################ */
/* screens below 1170px */
@media (max-width: 1169px) {

    /* ensure footer remains expanded */
    footer {
        min-width: 1168px;
    }
}

/* screens below 768px */
@media (max-width: 767px) {

    main {
        padding: 2rem 1rem;
    }

    .bottomDiv {
        grid-template-columns: repeat(3, 1fr);
    }

    .bottomDiv>.card {
        width: 10rem;
    }

    .img-thumbnail {
        width: 10rem;
        height: 10rem;
    }

    .card-body h5 {
        font-size: 0.8rem;
    }

    .card-body h6 {
        font-size: 0.65rem;
        font-weight: 300;
        line-height: 1.5;
    }

    .socialIcon {
        width: 1rem;
    }

    footer {
        min-width: 636px;
        gap: 0;
    }

    .quickLinksTopDiv,
    .quickLinksBottomDiv {
        gap: 2rem;
        justify-content: center;
    }
}

/* screens below 576px */
@media (max-width: 575px) {

    main {
        padding: 3rem 1rem;
    }

    .bottomDiv {
        grid-template-columns: repeat(2, 1fr);
    }

    .noShow {
        display: none;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    footer {
        min-width: 432px;
    }

    .footerLogoDiv>.logo {
        width: 20rem;
        height: auto;
    }
}